<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">    
	{{> facebook}}
	<script src="/js/facebook.js"></script>
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
	<div class="login">
		<a href="login">
		</a>
	</div>
	<center><div><fb:login-button scope="public_profile,email" onlogin="checkLoginState();" id="fbLogBttn">
	</fb:login-button></div></center>
	<center><h1><div class="loginBtn">onTrack</div></h1></center>
	<div class="userTest">
		<center><a href="loggedIn" class="aButton">Start the A Test!</a></center>
	</div>
	<div class="userTest">
		<center><a href="loggedInB" class="aButton">Start the B Test!</a></center>
	</div>
	<div class="guest">
		<center><a href="loggedIn" class="guestButton">Login as Guest</a></center>
	</div>

</body>
</html>