<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/index.css" rel="stylesheet">    

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
	<center><h1><div class="loginBtn">onTrack</div></h1></center>
	<div class="loginForm">
		<center><div id="emailIn"><h5><input type="text" placeholder="Email"></h5></div></center>
		<center><div id="passIn"><h5><input type="text" placeholder="Password"></h5></div></center>
	</div>
	<div class="submitBtn">
		<form action="index.html">
			<center><button type="submit" class="submit">Login</button></center>
		</form>
	</div>
</body>
</html>