<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/onTrack.css" rel="stylesheet">    

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
	
  <a href="/login" id="logout">Logout</a>
	<!-- Head Logo -->
	<div class="Logo">
		<center>
			<img src="images/sunLogo.png" class="img-responsive"></img>
			<h1>onTrack</h1>
		</center>
	</div>


	<!-- Start, View, and Add Buttons -->
	<div class="homeButton" id="startButton">
		<center><a href="startRoutine" class="button myBtn">
			<div id="startText">Start <span class="Routine">Routine</span></div>
		</a></center>
	</div>
	<div class="homeButton" id="viewButton">
		<center><a href="viewRoutine" class="button myBtn">
			<div id="viewText">View <span class="Routine">Routine</span></div>
		</a></center>
	</div>
	<div class="homeButton" id="addButton">
		<center><a href="addRoutine" class="button myBtn">
			<div id="addText">Add <span class="Routine">Routine</span></div>
		</a></center>
	</div>

	<!-- Arrows on the right side of the buttons -->
	<div class="arrows">
		<div id="firstArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div>
		<div id="secondArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div>
		<div id="thirdArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div>
	<div>
</body>
</html>