<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/onTrack.css" rel="stylesheet">  
	{{> facebook}}
	<script src="/js/facebook.js"></script>  

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">

	<!-- Google  Analytics -->
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-135751730-1', 'auto');
		ga('send', 'pageview');
	</script>

	<!-- Google Tag Manager -->
	<script>
		(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-PD8DDSS');
	</script>
</head>

<body>
	
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PD8DDSS"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

  <a href="/" id="logout">Logout</a>

	<!-- Head Logo -->
	<div class="Logo">
		<center>
			<img src="images/sunLogo.png" class="img-responsive"></img>
			<h1>onTrack</h1>
		</center>
	</div>


	<!-- Start, View, and Add Buttons -->
	<div class="homeButton" id="startButton">
		<center><a href="selectRoutine" class="button myBtn">
			<div id="startText"><span class="Routine">Start</span> Routine</div>
		</a></center>
	</div>
	<div class="homeButton" id="viewButton">
		<center><a href="viewRoutine" class="button myBtn">
			<div id="viewText"><span class="Routine">Your</span> Routines</div>
		</a></center>
	</div>
	<!-- div class="homeButton" id="addButton">
		<center><a href="addRoutine" class="button myBtn">
>>>>>>> a8e74c6c16a0c37434459fb493c1f62bdb8a9675
			<div id="addText">Add <span class="Routine">Routine</span></div>
		</a></center>
	</div -->

	<!-- Arrows on the right side of the buttons -->
	<div class="arrows">
		<div id="firstArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div>
		<div id="secondArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div>
		<!-- div id="thirdArrow">
			<img src="images/rightArrowGray.png" class="img-responsive"></img>
		</div -->
	<div>
</body>
</html>