<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/start.css" rel="stylesheet"> 
	<link href="/css/topBar.css" rel="stylesheet">     
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
    <div class="cancelButton">
        <a href="javascript:history.back()" id="cancelButton1">cancel</a>
    </div>
    <div class="editButtonA">
        <center><a href="viewRoutine" id="editButton1A">Edit Routines</a></center>
    </div>
    <div id="selRoutine"><center><h1 id="selRoutText">Select a Routine:</h1></center></div>
    <div class="routineOne" id="firstButton">
        <center><a href="startOne" class="button myBtn">
            <div id="routineOneText"> Routine 1</div>
        </a></center>
    </div>
    <div class="routineTwo" id="secondButton">
        <center><a href="startTwo" class="button myBtn">
            <div id="routineTwoText"> Routine 2</div>
        </a></center>
    </div>
        <div class="routineThree" id="thirdButton">
        <center><a href="startThree" class="button myBtn">
            <div id="routineThreeText"> Routine 3</div>
        </a></center>
    </div>
</body>
</html>