<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/start.css" rel="stylesheet"> 
	<link href="/css/topBar.css" rel="stylesheet">  
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<!-- Main Top Bar -->
	<div class="topBar">
    	<a href="selectRoutineB" id="backButton">back</a>
    	<center><h1 id="start">Routine 1</h1></center>
    	<div id="backArrow">
      		<img src="images/leftArrowGray.png" class="img-responsive"></img>
    	</div>
    </div>
</head>

<body>
	<center>
	<div id="nameOfRoutine"><div id="startOne">{{name}}</div>
		<div class="centerCircle"></div>
		<div id="timer"></div>
	</div>
	</center>
	<!-- div class="circle" style="animation-delay: -3s"></div>
	<div class="circle" style="animation-delay: -2s"></div>
	<div class="circle" style="animation-delay: -1s"></div>
	<div class="circle" style="animation-delay: 0s"></div>
	</center -->
	<audio loop id="bellDing" src="sounds/radar.mp3" preload="auto" type="audio/mp3"></audio>
    <script type="text/javascript">
    	var countDownTimer = new Date();
        countDownTimer.setMinutes(countDownTimer.getMinutes() + {{time}} + 0.1);
    	var counter = setInterval(function() {
    		var currentTime = new Date().getTime();

    		var timeLeft = countDownTimer - currentTime;

    		var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
    		var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

            if(seconds >= 10 && minutes != 0){
				document.getElementById("timer").innerHTML = minutes + " : " + seconds;
			}
			else if(seconds < 10 && minutes != 0){
				document.getElementById("timer").innerHTML = minutes + " : 0" + seconds;
			}
			else if(seconds >= 10 && minutes == 0){
				document.getElementById("timer").innerHTML = seconds;
			}
			else{
				document.getElementById("timer").innerHTML = "0" + seconds;
			}
    		if(timeLeft < 0) {
				document.getElementById('bellDing').play();
    			clearInterval(counter);
    			document.getElementById("timer").innerHTML = "Task is over!";
                setTimeout(function(){ window.location = "startOne";}, 2000);
    		}
    	}, 1000);
	</script>
	<form id="selectRoutine" role="form" method='get' action='/startRoutineB'>
        <<!-- input type="text" class="toHide" id="routIndex" value="{{this.Index}}" name="routName">
        <input type="text" class="toHide" id="curTask" value="0" name="curTask"> -->
        <input type="text" class="toHide" id="reference" value="startRoutine" name="reference">
        <input type="submit" id="submitBtn" name="rout" class="btn btn-default" value="Continue!"></input>
    </form>
	<!-- <div class="next">
		<center><a href="startOne" class="nextButton">Continue!</a></center>
	</div> -->
	<script type="text/javascript">
        $(".toHide").hide()
    </script>
</body>
</html>