<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/start.css" rel="stylesheet"> 
	<link href="/css/topBar.css" rel="stylesheet">     
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
	<!-- Main Top Bar -->
	{{#with Routine1.[0]}}
	<div class="topBar">
    	<a href="loggedIn" id="backButton">back</a>
    	<center><h1 id="start">Routine 3</h1></center>
    	<div id="backArrow">
      		<img src="images/leftArrowGray.png" class="img-responsive"></img>
    	</div>
    </div>
    {{/with}}
</head>

<body>
	{{#with Routine3.[3]}}
	<center>
	<div id="nameOfRoutine"><div id="routineText">{{name}}</div>
		<div class="centerCircle"></div>
		<div id="timer"></div>
	</div>
	<!-- div class="circle" style="animation-delay: -3s"></div>
	<div class="circle" style="animation-delay: -2s"></div>
	<div class="circle" style="animation-delay: -1s"></div>
	<div class="circle" style="animation-delay: 0s"></div>
	</center -->

    <script type="text/javascript">
    	var countDownTimer = new Date();
        countDownTimer.setMinutes(countDownTimer.getMinutes() + {{time}} + 0.1);
    	var counter = setInterval(function() {
    		var currentTime = new Date().getTime();

    		var timeLeft = countDownTimer - currentTime;

    		var minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
    		var seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

            if(seconds >= 10 && minutes != 0){
				document.getElementById("timer").innerHTML = minutes + " : " + seconds;
			}
			else if(seconds < 10 && minutes != 0){
				document.getElementById("timer").innerHTML = minutes + " : 0" + seconds;
			}
			else if(seconds >= 10 && minutes == 0){
				document.getElementById("timer").innerHTML = seconds;
			}
			else{
				document.getElementById("timer").innerHTML = "0" + seconds;
			}
    		if(timeLeft < 0) {
    			clearInterval(counter);
    			document.getElementById("timer").innerHTML = "Task is over!";
                setTimeout(function(){ window.location = "fourR3";}, 2000);
    		}
    	}, 1000);

    </script>
	{{/with}}

	<div class="next">
		<center><a href="fourR3" class="nextButton">Next Task</a></center>
    	<center><a href="twoR3" id="prevTask">Previous Task</a><center>
	</div>

</body>
</html>