<!doctype html>

<html>
<head>
	<title>onTrack</title>	
	<meta charset="utf-8">	
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/view.css" rel="stylesheet">  
	<link href="/css/topBar.css" rel="stylesheet">  
	<!--<script type="text/javascript" src="viewRoutine"></script> -->

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
</head>

<body>
	<!-- Main Top Bar -->
	{{# each Users.[0].Routines}}
		<h1>{{this.Name}}</h1>
		<!-- {{# each this}}
			<h1>{{@key}}</h1>
			{{# each this}}
				<p>{{this.name}}</p>
				<p>{{this.time}}</p>
			{{/each}}
		{{/each}} -->
	{{/each}}
	<form id="modifyRoutine" role="form" method='get' action='/modifyRoutine'>
		<input type="submit" id="submitBtn" class="btn btn-default" value="Add Routine"></input>
		<div class="form-group">
			<input type="text" class="form-control" id="curName" placeholder="Name" name="tempName">
		</div>
	</form>
</body>
</html>