/*Add CSS File*/

html {
  background-color: #efeef3;
}

body {
  background-color: #efeef3;
}

.topBar {
  background-color: #f5f5f7;
  border-bottom: 1px solid #a8a7ac;
  height: 65px;
  position: fixed;
  top: 0;
  width: 375px;
  z-index: 1;
}

#add {
  color: #262626;
  position: fixed;
  top: 0;
  width: 375px;
  z-index: 2;
}

#backButton {
  color: #b7b7b7;
  font-size: 2.5rem;
  left: 0px;
  padding-left: 20px;
  position: fixed;
  text-decoration:none;
  top: 26px;
  z-index: 3;
}

#backButton:active {
  color: #989898
}

#backArrow {
  height: 15px;
  left: 5px;
  position: absolute;
  top: 36px;
  width: 8px;
  z-index: 0;
}

.saveButton {
  background-color: #f5f5f7; 
  border: 0 solid white;
  color: #43af43;
  float: right;
  font-size: 2.5rem;
  right: 5px;
  top: 23px;
  position: absolute;
  z-index: 4;
}

.saveButton:active {
  color: #629762;
}

.saveButton:focus {
  outline: none;
}

.nameBar {
  background-color: white;
  border-top: 1px solid #c7c7c9;
  border-bottom: 1px solid #c7c7c9;
  height: 45px;
  margin-top: 90px;
  width: 100%;
}

.nameBar h3 {
  color: #c0c0c0;
  font-size: 2rem;
  margin-top: 1px;
  padding-left: 8px;
  padding-top: 8px;
}

.nameBar input {
  font-size: 2rem;
  border: none;
  width: 285px;
}

.nameBar input:focus {
  outline: none;
}

.daysOfWeek {
  background-color: white;
  border-top: 1px solid #c7c7c9;
  border-bottom: 1px solid #c7c7c9;
  color: #c0c0c0;
  font-size: 1.75rem;
  list-style: none;
  margin-top: 35px;
  margin-left: -32px;
  padding-top: 8px;
}

#Freq, #Sun, #Mon, #Tue, #Wed, #Thu, #Fri {
  border-bottom: 1px solid #c7c7c9;
}

#Freq {
  padding-bottom: 8px;
}

#Sun, #Mon, #Tue, #Wed, #Thu, #Fri, #Sat {
  color: black;
  padding-top: 8px;
  padding-bottom: 8px;
  position: relative;
  z-index: 0;
}

.switch {
  margin-top: -15px;
  position: absolute;
  z-index: 5
}

#Sun .switch, #Mon .switch, #Tue .switch, #Wed .switch, #Thu .switch, #Fri .switch, #Sat .switch {
  margin-top: -26px;
  margin-bottom: 0;
  padding-left: 100px;
  padding-bottom: 2px;
  padding-right: 262px;
  padding-top: 14px;
}

#Sun .switch {
  margin-left: -72px;
}

#Mon .switch {
  margin-left: -75px;
}

#Tue .switch {
  margin-left: -79px;
}

#Wed .switch {
  margin-left: -105px;
}

#Thu .switch {
  margin-left: -86px;
}

#Fri .switch {
  margin-left: -61px;
}

#Sat .switch {
  margin-left: -83px;
}

input[type='checkbox'] {
  opacity: 0;
}

#SunBtn input:checked ~ #SunCheck {
  opacity: 1;
}

#SunCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#MonBtn input:checked ~ #MonCheck {
  opacity: 1;
}

#MonCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#TueBtn input:checked ~ #TueCheck {
  opacity: 1;
}

#TueCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#WedBtn input:checked ~ #WedCheck {
  opacity: 1;
}

#WedCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#ThuBtn input:checked ~ #ThuCheck {
  opacity: 1;
}

#ThuCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#FriBtn input:checked ~ #FriCheck {
  opacity: 1;
}

#FriCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

#SatBtn input:checked ~ #SatCheck {
  opacity: 1;
}

#SatCheck {
  position: absolute;
  width: 20px;
  height: 15px;
  opacity: 0;
  top: 13px;
  left: 335px;
}

.button {
  display:inline-block;
}

#Sat {
  padding-bottom: 8px;
}

.taskList {
  background-color: white;  
  border-top: 1px solid #c7c7c9;
  border-bottom: 1px solid #c7c7c9;
  font-size: 1.75rem;
  margin-top: 35px;
}

.taskTitle {
  color: #c0c0c0;
}

ul {
  list-style-type: none;
}

.list {
  color: black;
  margin-left: -32px;
  margin-top: 17px;
  padding-top: 0px;
}

.taskTitle {
  padding-left: 9px;
  margin-top: 8px;
}

#newItem {
  padding-top: 17px;
}

#showerTime {
  margin-left: 230px;
}

.taskTitle {
  margin-bottom: -8px;
}

#showerItem {
  padding-top: 8px;
  border-top: 1px solid #c7c7c9;
  border-bottom: 1px solid #c7c7c9;
  padding-bottom: 8px;
}

#newItem {
  color: #c0c0c0;
  margin-top: -8px;
}