h1 {
  color: #43af43;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
}

a {
  text-decoration: none;
}

a:active {
  color: #629762;
  text-decoration: none;
}

.loginBtn {
  position: relative;
  margin-top: 180px;
}

.loginForm {
  position: relative;
  margin-top: 60px;
}

.submit {
  position: relative;
  margin-top: 10px;
}

#fbLogBttn {
  top: 600px;
}

.aButton {
  color: #43af43;
  font-size: 3rem;
}

.guest {
  color: #4B5894;
  font-size: 3rem;
}