/*Start CSS File*/

/*View CSS File*/

html {
  background-color: #efeef3;
}

body {
  background-color: #efeef3;
}

h1 {
  color: #43af43;
  font-family: 'Roboto', sans-serif;
  font-size: 5rem;
}

#timer {
	color: #c0c0c0;
  	font-size: 6rem;
  	margin-top: 70px;
  	padding-top: 0px;
}

#start {
	color: #000;
  	font-size: 3rem;
  	margin-top: 25px;
  	padding-top: 0px;
}

#nameOfRoutine {
	color: #43af43;
  	font-size: 4rem;
  	margin-top: 75px;
  	padding-top: 35px;
}

.nextButton {
  color: #43af43;
  font-size: 4rem;
  top: 680px;
  z-index: 4;
}

.nextButton:active {
  color: #629762;
}

.nextButton:focus {
  outline: none;
}

.button {
  display:inline-block;
}

#prevTask {
  color: #43af43;
  font-size: 2rem;
  top: 680px;
  z-index: 1;
}

#skipTask {
  color: #43af43;
  font-size: 2rem;
  top: 680px;
  z-index: 7;
}

.nextButton {
  text-decoration: none;
}

.nextButton:active {
  text-decoration: none;
}

#prevTask {
  text-decoration: none;
}

#prevTask:active {
  text-decoration: none;
}

.next {
  margin-top: 60px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}

#cancelButton1 {
  color: #989898;
  font-size: 2.5rem;
  left: 0px;
  padding-left: 10px;
  position: fixed;
  text-decoration:none;
  top: 2px;
  z-index: 3;
}

#cancelButton1:active {
  color: #7c7c7c
}

/* Select Routine Below */

.routineOne {
  margin-top: 250px;
  margin-bottom: 10px;
}

.routineTwo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.routineThree {
  margin-top: 10px;
}

#routineOneText, #routineTwoText, #routineThreeText {
  border: 1px solid #43af43;
  background-color: white;
  color: #8f8f8f;
  padding-top: 7px;
  width: 300px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
}

#routineOneText:active, #routineTwoText:active, #routineThreeText:active {
  background-color: #f4f4f4;
}