@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

html body{
  background-color: #9bc2cf;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: olive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 2;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 80px auto;
}

button.accordion {
  width: 100%;
  background-color: #003366;
  border: 3px;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 26px;
  color: 	#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #004080;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

#deleteTask {
  background-color:grey;
  border: none;
  color: black;
  height: 30px;
}

#move {
  margin-right: 5px;
}

::placeholder {
  color: black;
}

.uppercase {
	text-transform: uppercase;
}

.form__field {
  border-style: inset;
  width: 325px;
  background: grey;
  color: black;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  outline: 0;
  padding: 22px 18px;
}

.btn--inside {
  margin-left: -92px;
}

.btn--primary {
  background: #003366;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  
  padding: 12px 36px;
}

.taskNameText {
  border-style: inset;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: left;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  text-shadow: #9ACD32 1.5px 1.5px 0;
  position: relative;
  background-color: grey;
}

.taskContainer {
  width: 100%;
  max-width: 800px;
  margin: 5px auto;
  border-style: inset;
}

img {
  max-width:10%;
  height:auto;
  margin-left: 270px;
}

