@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);

html body{
  background-color: #9bc2cf;
}

#logo {
  font-family: 'Open Sans', sans-serif;
  color: olive;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 2;
  text-shadow: #EDEDED 3px 2px 0;
  position: relative;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 80px auto;
}

button.accordion {
  width: 100%;
  background-color: #003366;
  border: 3px;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 26px;
  color: 	#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  background-color: #004080;
}

button.accordion {
  width: 100%;
  background-color: #003366;
  border: 3px;
  border-style: groove;
  border-color: grey;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 26px;
  color:#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btn-delete {
  background-color: #003366;
  width: 100%;
  border: 3px;
  border-color:silver;
  border-style: inset;
  margin-top:5px;
  outline: none;
  text-align: center;
  padding: 5px 5px;
  color: 	#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btn-edit {
  background-color: #003366;
  width: 100%;
  border: 3px;
  border-color:silver;
  border-style: inset;
  outline: none;
  text-align: center;
  padding: 5px 5px;
  color: 	#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.button {
  background: #428bca;
  padding: 1em 2em;
  color: #fff;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background: #3876ac;
}

.accordion-content {
  background-color: white;
  border-left: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

#newRoutine {
  width: 100%;
  background-color: grey;
  border: 3px;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  color: #9ACD32;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

#newRoutine::placeholder{
  color:#9ACD32;
}

#deleteTask {
  background-color:grey;
  border: inset;
  color: black;
  height: 30px;
}

#move {
  margin-right: 6px;
}

::placeholder {
  color: black;
}

.uppercase {
	text-transform: uppercase;
}

.form__field {
  border-style: inset;
  width: 325px;
  background: grey;
  color: black;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  outline: 0;
  padding: 10px 10px;
}

.btn--inside {
  margin-left: -92px;
  margin-top: -50px;
}


.btn-add {
  width: 100%;
  background-color: #003366;
  font-family: 'Open Sans', sans-serif;
  border: 3px;
  outline: none;
  text-align: center;
  padding: 3px 5px;
  font-size: 16px;

  color: 	#9ACD32;
  text-shadow: black 1.5px 1.5px 0; 
  cursor: pointer;
  transition: background-color 0.2s linear;
}

.btn--primary {
  background: #003366;
  color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  
  padding: 12px 36px;
}

.taskNameText {
  border-style: inset;
  font-family: 'Open Sans', sans-serif;
  color: black;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  text-shadow: #9ACD32 1.5px 1.5px 0;
  position: relative;
  background-color: grey;
}

.taskContainer {
  width: 100%;
  height:auto;
  max-width: 800px;
  margin: 1px auto;
  border-style: inset;
}

img {
  max-width:5%;
  height:auto;
}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialog:target {
    opacity:1;
    pointer-events: auto;
}
.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover {
    background: #00d9ff;
}